/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header { 
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.todo-add__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.todo-add__panel {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
li,
h3 {
  list-style: none;
}
input,
button{
  outline: none;
}
.todo-add__button,
.task-item__edit,
.task-item__delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.todo-add__button:hover,
.task-item__edit:hover,
.task-item__delete:hover {
  color: #3a3A3a;
}
/* Heading */
.todo-add__title, .todo-active__title, .todo-completed__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.todo-add__input, 
.task-item__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.todo-add__input:focus, 
.task-item__input:focus {
  color: #333;
}

/* New Task */
.todo-add__title {
  display: block;
  margin: 0 0 20px;
}
.todo-add__input {
  width: 318px;
}

/* Task list */
.task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-item > * {
  vertical-align: middle;
}

.task-item__checkbox {
  margin: 0 10px;
}
.task-item__title {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-item__input {
  width: 226px;
}
.task-item__delete-btn_icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.task-item__delete-btn_icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.todo-completed .task-item__title {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-item__input {
  display: none;
}

.editable > .task-item__input {
  display:inline-block;
  width: 224px;
}

.editable > .task-item__title {
  display: none;
}